.a  {background-color: 
yellow;
height: 200px;
width: 100%;
margin: 20px; 
text-align: center;
color: red;
transform:translate(0%, 0%);}


.b {background-color: 
red; 
height: 200px;
width: 200px;
margin: 20px; 
text-align: center;
color: yellow;
transform:translate(-10%, -32%)
}

.nuorod {background-color: gold;
		color: red;
		border: solid;
		border-color: red;
		border-radius: 10px;
		padding: 20px;
		margin: 20px;
		float: left;
		text-align: center;
		text-decoration: none;}

body {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+16,ff6600+56,c72200+80 */
background: #f3c5bd; /* Old browsers */
background: -moz-linear-gradient(top, #f3c5bd 16%, #ff6600 56%, #c72200 80%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f3c5bd 16%,#ff6600 56%,#c72200 80%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f3c5bd 16%,#ff6600 56%,#c72200 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */}